<footer>
    <div>
        <h3>Inmobiliaria Calima</h3>
        <p>Venta de Fincas, Apartamentos, Casas, Oficinas y otras Propiedades.</p>
        <p>Asesoría jurídica en el proceso de compraventa de la propiedad.</p>
    </div>

    <div>
        <h3>Contacto</h3>
        <p><img src="/square-whatsapp.svg" alt="">(+57)301 563 6844</p>
        <p>abogado.carloscontreras@hotmail.com</p>
        <p>Calle 8 # 6 -50</p>
        <p>Calima Darién - Valle del Cauca</p>
    </div>
</footer>

<style>
    footer {
        display: flex;
        flex-wrap: wrap;
        background-color: #000629;
        justify-content: space-evenly;
        align-items:start;
        color: #fff;
    }

    div {
        width: 330px;
        margin-top: 14px;
    }

    p {
        display: flex;
        margin: 14px 0px;
        align-items: center;
        gap: 8px;
    }

    p img {
        height: 20px;
    }
</style>